@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito|Open+Sans");
body {
  background: url("https://visualhunt.com/photos/xl/3/rock-musicians-in-darkness.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; }

#myNavbar > ul > li a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2); }

article {
  margin-top: 4%; }
  article .opt {
    margin-bottom: 2em; }

.panel.video {
  background: rgba(0, 0, 0, 0.2); }

.navbar-default {
  background-color: transparent;
  border: none; }

.color.title {
  color: #bdc3c7; }

.title {
  font-family: 'Nunito', sans-serif; }

.color-text {
  color: #CFD8DC; }

footer {
  font-family: 'Open Sans', 'sans-serif'; }

/*# sourceMappingURL=style.css.map */
