@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

// cores

$silver : #bdc3c7;
$bluegray : #CFD8DC;
$background: rgba(0,0,0,0.2);





body{
    background: url('https://visualhunt.com/photos/xl/3/rock-musicians-in-darkness.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


#myNavbar > ul > li{
       
    a:hover{
        color: #fff;      
         background: $background;
        }    
    
    }


article{
    margin-top: 4%; 
    .opt{
        margin-bottom: 2em;
    }    
}






.panel.video{
      background: $background;
}




// bootstrap

.navbar-default{
    background-color: transparent;
    border: none;
}


// text

.color.title{
    color: $silver;
}

.title{
    font-family: 'Nunito', sans-serif;
}

.color-text{
    color: $bluegray;
}


footer {
    font-family: 'Open Sans', 'sans-serif';
    
}



    